html{
    background: linear-gradient(#edf9ff, #ffffff);
    color: #333333;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.modifybutton{
    background-color: #f6d74e;
    border: transparent;
    width: 50px;
    height:25px;
    border-radius:3px;
}

.deletebutton{
    background-color: #f6d74e;
    border: transparent;
    width: 50px;
    height:25px;
    border-radius:3px;
}

#addbutton{
    background-color: #62a6ff;
    border: transparent;
    width: 120px;
    height:30px;
    border-radius:3px;
    margin-top: 20px;
    color: #fff;
  
}

#searchbutton{
    background-color: #62a6ff;
    border: transparent;
    width: 120px;
    height:30px;
    border-radius:3px;
    color: #fff;
    margin-left: 15px;
}

table #cardtable{
    border:5px #a2a2a2 solid;
    margin-top:30px;
}

thead tr{
    background-color: rgb(105, 105, 105);
    color:white;
}
tbody tr:nth-child(odd){
    background-color: rgb(255, 248, 230);
}

tbody tr:nth-child(even){
    background-color: rgb(255, 254, 252);
}

tbody tr td:hover{
    background-color: aqua;
}